body {
    font-family: 'Poppins', sans-serif;

}
p{
    padding: 0;
    margin: 0;
}
h2{
    padding: 0;
    margin: 0;
    
}

/* --------------------Outer Divs---------------------------- */
.wrapper {
    display: flex;
}
.main {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    margin-left: 1.2rem;
    min-height: 100vh;
    width: 100%;
    transition: all 0.35s ease-in-out;
    background-color: #004AAD;
    color: #004AAD;
}
.second-main{
    border-radius: 20px;
    background-color: #D6E2F1;
    height: 100%;
    overflow: auto;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Inset box shadow */
    display: flex;
    

}

/* --------------------Left Panel---------------------------- */
.left-panel{
    
    width: 75%;
    height: 100%;
    padding: 20px;
}

/* -------1 div---------- */
.header-courses{
    
    width: 100%;
    height: 10%;
    padding: 10px;
}

/* -------2 div---------- */
.nav-outer-direction{
    width: 100%;
    height: 8%;
    padding: 10px;
}
.nav-inner-direction{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    column-gap: 10px;
}
.btn-navigation{
    width: 15%;
    height: 100%;
    border-radius: 10px;
    
    color: #004AAD;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-navigation a{
    width: 15%;
    height: 100%;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-navigation:hover{
    background-color: #D6E2F1;
    border: 1px solid #004AAD;
    text-decoration: none;
}
.btn-navigation-inner:hover{
    background-color: #D6E2F1;
    border: 1px solid #004AAD;
    text-decoration: none;
}
.btn-navigation-inner{
    width: 15%;
    height: 100%;
    border-radius: 10px;
    border: #004AAD 1px solid;
    color: #004AAD;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-navigation-inner a{
    width: 15%;
    height: 100%;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------3 div---------- */
.drpbtn-filter{
    
    width: 100%;
    height: 7%;
    padding: 10px;
    display: flex;
    align-items: center;
}
#drpbtn{
    border: 1px solid #004AAD;
    background-color: #004bad00;
    color: #004AAD;
    border-radius: 10px;
    width: 9%;
    height: 100%;
    margin-left: 10px;
    font-size: calc(8px + 10px);;
}
#drpbtn:hover {
    background-color: #004AAD;
    color: #FFFFFF;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 74, 173, 0.5);
}
/* -------4 div---------- */
.lbl-filter{
    
    width: 100%;
    height: 8%;
    padding: 10px 60px 10px 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

/* -------5 div---------- */
.content-subj{
    font-size: calc(.5vw + 10px);
    font-weight: 300;
    width: 100%;
    height: 67%;
    padding: 10px;
    padding: 10px 80px 10px 80px;
    display: flex;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
    transition: background-color 0.3s, color 0.3s;
}
.box-subj{
    border: 1px solid #ccc;
    width: 30%;
    height: 50%;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    color: #004AAD;
}
.img-holder{
    width: 100%;
    height: 60%;
}
#img-hold{
    width: 100%;
    height: 90%;
    position: relative;
    background-size: cover; /* Cover the entire container */
    background-position: center;
}
.lbl-btn{
    display: flex;
    overflow: auto;
}
.lbl-sbj{
    width: 90%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: calc(.5vw + .3rem);
}
.lbl-sbj h3{
    font-size: calc(.9vw + .3rem);
    font-weight: 300;
}
.lbl-box{
    border: 1px solid #004AAD;
    border-radius: 5px;
    height: auto;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(.5vw + .3rem);
}
.btn-sbj{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(.4vw + .3rem);
    
}
.content-subj .box-subj:hover {
    background-color: #004AAD;
    color: #FFFFFF;
    box-shadow: 0 0 50px rgba(0, 74, 173, 0.5);
    transform: scale(1.05);
}



/* --------------------Right Panel---------------------------- */
.right-panel{
    
    width: 25%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    position: sticky;
}

/* -------1 div---------- */
.student-profile{
    
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.student-profile-inner {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 25px;
}


/* -------2 div---------- */
.agenda-panel{
    
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    height: 45%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    flex-wrap: wrap;

}
.lbl-agenda{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}
.container-now{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: column;
    color: #706F6F;
    margin-bottom: 10px;
}
.box-now{
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    border-radius: 10px;
    background-color: #004AAD;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    column-gap: 10px;
    padding: 10px;
}
.box-now-inner{
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
}
.container-tomorrow{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    color: #706F6F;
}
.box-tom{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #D6E2F1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    column-gap: 10px;
    padding: 10px;
}
.box-tom-inner{
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
}
.container-otherDay{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    color: #706F6F;
    
}
.box-oday{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #D6E2F1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    column-gap: 10px;
    padding: 10px;
}
.box-oday-inner{
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
}

/* -------3 div---------- */


/* -------4 div---------- */
.calendar-panel {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    height: 45%;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: rgba(149, 157, 165, 0.9) 0px 8px 24px;
}
.lbl-title{
    display: flex;
    justify-content: space-between;
    height: 12%;
    width: 100%;
}
.calendar {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 88%;
    overflow: auto;
}

.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendar-cell {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 100%;
    height: 100%;
}
.week-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    font-weight: bold;
}

.week-cell {
    border: #004AAD 1px solid;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}
.calendar-cell.today {
    background-color: #004AAD;
    color: #FFFFFF;
}
.calendar-cell a {
    display: block;
    text-decoration: none;
    color: inherit;
}
.current-date {
    background-color: #004AAD;
    color: #ffffff; /* Yellow background color for today's date */
}
.calendar-cell {
    position: relative; /* Add this line to allow positioning of the tooltip */
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    border: #004AAD 1px solid;
}

.calendar-cell:hover {
    background-color: #004AAD;
    color: #FFFFFF;
}

.calendar-cell:hover::after {
    content: "No deadline"; /* Tooltip text */
    position: absolute;
    bottom: 100%; /* Position the tooltip above the cell */
    left: 50%;
    transform: translateX(-50%); /* Center the tooltip horizontally */
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap; /* Prevent tooltip text from wrapping */
    opacity: 1; /* Show the tooltip */
    pointer-events: none; /* Ensure the tooltip doesn't interfere with hover */
    z-index: 1; /* Ensure the tooltip appears above other elements */
}
@media screen and (max-width: 1300px) {
    .second-main {
        display: flex;
        flex-direction: column;
    }
    .left-panel{
        width: 100%;
    }
    .right-panel{
        width: 100% ;
    }
    .student-profile, .student-profile-inner{
        display: none;
    }
    .content-subj{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
       
    }
    .box-subj{
        width: 100%;
        height: 45%;
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 10px;
        color: #004AAD;
    }
    
     
  }