@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Fira Code', monospace;
}

.container1{
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 100%;
    height: 100%;
}

.in-container1{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.in-container2{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 25px;
}

/*Nav bar*/
header{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    border-bottom: 1px solid black;
    background-color: #004AA0;
}

header h2 img {
    padding: 0;
    margin-left: 100px;
    width: 90px;
    height: auto;
    margin-right: 80px;
}
nav li a:hover {
    font-weight: 400;
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    transition: all 0.3s ease 0s;
}


.nav_links{
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-size: 20px;

}
.nav_links li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: background-color grey 0.3s ease;

}

nav{
    display: flex;
}

#tutorialPanel{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top:30;
    text-align: center;
    z-index: 100;
}

#tutorialPanel img{
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

.header img:last-child{
    width: 50%;
    height: 60%;
    grid-row-start: 2;
}

.header img:hover{
    opacity: 85%;
    cursor: pointer;
}

.info-bar{
    width: 100%;
    height: 75px;
    background-color: #004AA0;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    padding-bottom: 10px;
    box-shadow: 3px 3px 3px 3px #001f42;
}

.score{
    margin-left: 30px;
}


.pb{
    text-align: center;
    padding: 6px;
}

.progress-bar{
    border: 1px solid white;
    border-radius: 3rem;
    width: 17rem;
    height: 2rem;
    position: relative;
}
.progress-barc{
    border: 1px solid white;
    border-radius: 3rem;
    height: 2rem;
    position: absolute;
    background-color: greenyellow;
    font-size: 25px;
    color: black;
}


a{
    color: white;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0;
    text-decoration: none;
    transition: color 0.10;

    &:hover{
        color: rgb(0, 0, 0);
    }
}

.instrucContainer{
    width: 100%;
    height: 30%;
}

/*Instructions Teacher*/
.instructions{
    height: 100%;
    background-color: #004AA0;
    color: black;
    font-weight: 300;
    font-size: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    grid-row-start: 2;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-rows: 35px repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    overflow: auto;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px #001f42;
}


.instruc-container{
    width: 90%;
    font-size: 16px;
    border: black solid 1px;
    margin: 10px auto;
    display: flex;

}
.instrucName{
    color: white;
}



.btn{
    margin-right: 30px;
    border-radius: 1rem;
    height: 3rem;
    width: 7rem;
    background-color: greenyellow;
    margin-top: 15px;
}

/*Progress Div*/
.coding-area{
    width: 100%;
    height: 100%;
    background-color: #004AA0;
    border-radius: 20px;
    box-shadow: inset 3px 3px 3px 3px #001f42;
}
/*Mini-game*/

.mini-game canvas{
    width:60%;
    height: 100%;
    background-color: #004AA0;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #001f42;
}

.button{
    border-radius: 10px 10px 20px 10px;
    border: solid 1px white;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}

.button img{
    width: 100%;
    height: 100%;
}

.button:hover{
    cursor: pointer;
    opacity: 90%;
}



.code-editor{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 3px 3px #001f42;
}

.output{
    color: white;
    background-color: #000000;
    border-radius: 20px;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 13 ;
    font-size: 20px;
    padding: 10px;
    overflow:scroll;

}

#output-text{
    margin-top: 105px;
    padding: 15px;
    font-size: 20px;
    padding: 10px;
}

#timer, #score{
    display: table;
    margin: 0 auto;
    font-size: 30px;
}

.startPanel{
    width: 500px;
    height: 200px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #6a2ee8;
    border: 1px solid white;
    border-radius: 20px;
    z-index: 100;
    color: white;
}

#startButton{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 10px;
}

#startButton:hover{
    cursor: pointer;
    opacity: 90%;
}

.endPanel{
    width: 500px;
    height: 200px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #6a2ee8;
    border: 1px solid white;
    border-radius: 20px;
    z-index: 100;
    color: white;
    display: none;
}

#resetButton{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 10px;
}

#resetButton:hover{
    cursor: pointer;
    opacity: 90%;
}
